
Non-functional requirements:
	The non-functional for the devices running AGMeeting are as follows. Firstly, this software must be able to run on computers, tablets, and smartphones. These devices must also have audio in features to allow for voice chatting. In addition, to this it should be usable on any OS with a JavaScript enabled internet browser available. Admins and moderators’ systems should be capable of uploading files and saving meeting history.
The non-functional requirements for the software itself are as follows. The software must be very responsive to allow for voice chatting and Realtime voting.  Furthermore, the software produced errors should be minimized during meetings. Their needs to be Servers which host the database, storing login and credentials. This data base must have security to ensure users data is safe Such as, encryption of data, number of login attempts until password must be reset. The code itself must follow best practices to ensure the code is readable, which in turn allows maintainability. Furthermore, the code should be written so functions and classes can be tested to ensure the software is safe and reliability. The code should also be modular to allow for better scalability. 
