
Non-functional requirements:
Usability: 
this software must be able to run on computers, tablets, and smartphones. In addition, to this it should be usable on any OS with a JavaScript enabled internet browser available.
Responsive:
The software must be very responsive to allow for voice chatting and Realtime voting. To ensure this requirement is met there will be practice runs with the software to simulate the meeting experience and ensure speed is adequate. 
Reliable:
the software produced errors should be minimized during meetings. This requirement will also be satisfied through practice runs of the software using the various feature and ensuring there is no substantial errors. In addition, unit testing will be employed for the software.
Security:  
This data base must have security to ensure users data is safe. The ways which this will be accomplished is through password encryption and needing to be invited to meetings by admins. 
Maintainability:
The code base must be maintainable. The code itself must follow best practices to ensure the code is readable, as well the code will follow DFD diagrams, and have documentation. These three things ensure maintainability is achieved. 
